/* Importar fuentes*/
@font-face{
	font-family : "yanone";
	src 		: url("font/yanone.ttf")	;		
}

@font-face{
	font-family : "titilium";
	src 		: url("font/titilium.ttf")	;		
}
@font-face{
	font-family : "finger";
	src 		: url("font/finger.ttf")	;		
}



/* Geneales */

*{
	margin: 0px;
	padding:0px;
}

body {
	font-family: "yanone", Arial, Helvetica;
	font-size:    20px;
	background:   url("../img/pattern.png");
	background-attachment:  fixed;
}
.clearfix{
	float:none;
	clear:both;
}

/* Estilos de barra de navegacion y header*/

/*Barra de Navegacion*/

header{
	display: block;
	width: 100%;
	height: 90px;
	background:rgba(53,103,164,0.8);
	position: fixed;
	text-transform: uppercase;
}

header ul{
	display: block;
	width:50%;
	height: inherit;
	margin: 0px auto;
	margin-top: -3px;

}
header ul li {
	display: inline-block;
	margin:0px auto;
	text-align: center;
	line-height: 90px;

}

header a {
	display: block;
	padding-right: 20px;
	padding-left: 20px;
	height: inherit;
	text-decoration: none;
	color:white;
	transition: all 300ms;

}
header a:hover 
 { 
	background: rgba(0,0,0,0.5);
	
}
.actived{
	background: rgba(0,0,0,0.3);
	
}


/* maquetando el logotipo*/

#logo a {
	transition: color 400ms, text-transform 400ms;
}
 #logo a:hover{
	background: transparent;
	color :yellow;
	transform: scale(1.50,1.5);
}

#logo a{
	font-family: finger;	
	font-size: 40px;
}

/* maquetando el contenedor pricipal*/

#content {
	min-height: 600px;
	width: 75%;
	height: auto;
	/* margin 0 auto lo centra !!!*/
	margin:0px auto;
	box-shadow: 0px 0px  40px black;
	background: rgba(255,255,255,0.7);
	padding-top:120px;
	border-left: 1px solid #b7b7b7;
	border-right:  1px solid #b7b7b7;

}

/*maquetando footer*/
footer{
	width: 75%;
	margin: 0px auto;
	padding-top: 15px;
	color: rgba(0,0,0,0.5);

}
/*Sobre mi*/
#title {
		width: 70%;
		margin: 0px auto;
		text-align: center;
		margin-top: 20px;
		margin-bottom: 70px;	
}
#title h1 {
	font-family: finger;
	font-size: 60px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
}
#title h2 {
	font-size: 25px;
	color : gray;
	margin-top: 5px;
	margin-bottom: 5px;
}


article.about {
	width: 70%;
	margin:0px auto;
	margin-bottom: 0px;
	font-size: 23px;

}

.about h2{
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
.about p{
	padding-top: 20px;
	padding-bottom: 30px;
	text-align: justify;

}
/* Esilos para seccion con formulario*/

.container {
	padding: 50px;
	padding-top: 10px;

}

.container h2 {
	display: block;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
	margin-bottom: 10px;

}

form {
	width: 80%;


}

form label {
	display: block;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 5px;
}


form input[type="text"],
form input[type="number"],
form input[type="email"],
form textarea 
{
	width: 60%;
	padding-bottom: 5px;
}

form button,
form input[type="submit"],
.button-edit,
.button-delete{
	display: block;
	font-size: 15px;
	padding: 10px;
	margin-top: 15px;
	color :white;
	background: rgba(53,103,164,1);
	border:1px solid rgba(13,67,133,1);
	cursor:pointer;

}
.button-edit,
.button-delete{
		width: 10%;
		float: left;
		margin-right: 10px;
		text-decoration: none;
}
.button-edit, .button-confirmar{
	background: orange;

}
.button-delete, .button-cancelar{
	background: red;
}

.button-cancelar,
.button-confirmar{
		width: 40%;
		float: left;
		margin-right: 10px;
		text-decoration: none;
		color: white;
		display: block;
	font-size: 20px;
	padding: 10px;
	margin-top: 15px;
	color :white;
	border:1px solid rgba(13,67,133,1);
	cursor:pointer;
	text-align: center;
}
form button: hover,
form input[type="submit"]:hover{
	background: rgba(53,103,164,0.8);
	cursor:pointer;
}
form input[disabled]{
	opacity: 0.40;
	color : black;
	background: #ccc;
	cursor: not-allowed;
}

.form_error {
	font-size: 14px;
	color : red;
	padding :5px;
	margin-left: 5px;
}

.message{
	padding:5px;
	border : 1px solid gray;
	width: 60%;
}
.success{
	background:green;
	color: white;

}
.success a {
	color : white;
}
.failed {
	background: red;
	color : white;
}
/* listado de proyectos*/
.proyect {
	list-style: none;
	display: block;
	float: left;
	width: 28%;
	text-align: center;
	margin-left: 15px;
	margin-right: 20px;
	margin-bottom: 30px;


}

.proyect .image{
	width: 100%;
	height:  150px;
	overflow:hidden;
}
.proyect  img{
	width: 100%;

}
.proyect a{
	text-decoration: none;
	color:black;
}


.container .image{
	float :left;
	width: 53%;
}

.container .image img{
	float: left;
	width: 100%;

}
.container .data{

	width: 45%;
	margin-left: 35pc;

}